body
{
	background-color: #eeeeff;
	font-family: Georgia;
}

@font-face
{
	font-family: Pompadur;
	src: url(Pompadur.ttf);
}

header
{
	background-color: #ffffff;
	height: 150px;
	padding: 15px;
	border-radius: 10px;
	border: 3px solid #000000;
	font-family: Pompadur;
}

article
{
	padding: 15px; 
	margin: 15px;
	border-radius: 10px;
	border: 2px solid #000000;
	font-family: Segoe Print;
}

article.code
{
	background-color: #8bfb65;
}

article.interests
{
	background-color: #8bfb63;
}

article.formula
{
	background-color: #8bfb56;
}

article.myquote
{
	background-color: #7efb56;
}

article.animal
{
	/*align-self: flex-end;*/
	background-color: #70fb6f;
}


article.contact
{
	border: 10px;
	display: none;
	position: absolute;
	z-index: 1;
	background-color: #55aaff;
}

section
{
	width: 50%;
}

section.right
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 900px;
}

section.left
{
	float: left;
}

button
{
	background-color: #ffffff;
}

button.x
{
	float: right;
	font-size: 25px;
}

img
{
	float: left;
	width: 150px;
	height: 150px;
	border-radius: 100px;
}

img.icon
{

}

div
{
	font-family: Times New Roman;
}

footer
{
	font-family: Monotype Corsiva;
}